.App {
  text-align: center;
}

nav{

  display:flex;
  justify-content: space-around;
  align-items: center ;
  min-height: 10vh;
  background: rgb(73,79,82);
  color:white;
}

.nav-links{

    width: 20%;
    display: flex;
  justify-content: space-around;
  align-items: center;
list-style: none;
}


.cvPage {
  border-color: black;
  height: 100%;
  flex: 50%;
}


.toolPage {
  display: flex ;
  background-color: red;
  height: 100%;
  flex: 30%

}


.contentPage {

  display: flex;
  
}
